<!DOCTYPE html>
<html lang="en">

<head>
  <title> Siddiquipro &bull; Quickstart Vue and adonis apps </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">
  <meta name="description" content="Free themes for Bulma - A modern CSS framework based on Flexbox">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />

  <meta name="theme-color" content="#34495e">
  <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/materia/bulmaswatch.min.css">
   
</head>

<body class="theme-page">
  <div id="app">
    <section class="hero is-primary"> 
      <div class="hero-head">
        <nav class="main-nav navbar">
          <div class="container">
            <div class="navbar-start">
              <a class="navbar-item" href="/"> 
                <h1 class="title is-5">Siddiquipro</h1>
              </a>
              <a class="navbar-item " href="/">Home</a>
              <a class="navbar-item " href="/">About</a>
              <a class="navbar-item " href="/">Help</a>
            </div>
            <span class="navbar-toggle">
              <span></span>
              <span></span>
              <span></span>
            </span>
            <div class="navbar-end navbar-menu">  
              <a class="navbar-item">
                <span class="icon"> <i class="fa fa-github"></i> </span>
              </a>
              <a class="navbar-item">
                <span class="icon"> <i class="fa fa-twitter"></i> </span>
              </a>
            </div>
          </div>
        </nav>

      </div>
      <!-- Hero content: will be in the middle -->
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Hello World
          </h1>
          <h2 class="subtitle">
            Quick Start App
          </h2>
          <users-count />
          <p>
            <a class="button is-primary is-inverted">See More</a>
            <a class="button is-dark">
              <span class="icon"> <i class="fa fa-home"> </i> </span>
            </a>
          </p>
        </div>
      </div>
    </section>  
  </div>


  {{ script('build/main') }}

</body>

</html>
